.student-o {
  display: flex;
  flex-direction: row;
  flex: 1;

  padding: 0.5rem;
  margin: 3rem 0;
  
  border-radius: 8px;
  background-color: #ACB0F2;
}
.title{
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
.font-form{
  color: #EBEDF2;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}
.student-o__description {
  display: flex;
  flex-direction: column;
  gap: .5rem;
  flex: 1;
}
.student-o__pfp{
  max-width: 250px;
  max-height: 100px;
  border-radius: 20px;
  display: flex;
}
.student-o h2 {
  color: #3a3a3a;
  font-size: 1rem;
  flex: 1;
  margin: 0 1rem;
  color: rgb(26, 26, 26);
}

.student-o__major {
  font-size: 1rem;
  color: black;
  padding: 0.5rem;
  border-radius: 5px;
}
.StudentsInfo label{
  margin-bottom: .5rem;
}

@media (min-width: 580px) {

  .student-o__description {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    flex: 1;
  }

  .student-o__description h2 {
    font-size: 1.25rem;
  }

}
