.StudentsForm{
     display: flex;
    justify-content: center;
    margin: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    flex: 1;
    background-color:#6E30F2;
    border-radius: 20px;
    box-sizing: border-box;
    width: 320px;
    
}
.StudentsInfo{
    display: flex;
    flex-direction: column;
}
.StudentsInfo div{
    margin: .3rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}